<div class="container-fluid d-flex justify-content-center align-items-center vh-100 w-100">
  <div class="container d-flex justify-content-center align-items-center h-auto w-auto">
    <div class="d-flex flex-column justify-content-center align-items-center p-4">
      <h1>Welcome to Admin Page.</h1>
      <button class="btn btn-success mb-3" [routerLink]="['/admin/about']">About Page.</button>
      <button class="btn btn-success" [routerLink]="['/admin/contact']">Contact Page.</button>
    </div>
  </div>
</div>
